#config_version=6
mode:
  start_events: ball_starting
  priority: 100
  

slide_player:
  mode_launch_shows_stopped: 
    base:
      priority: 100
      action: queue_first
  ball_ending:
    base:
      action: remove
    
sound_player:

  s_flipper_l_hit: sd_flipper
  r_sling_l_hit: sd_sling_2
  r_sling_r_hit: sd_sling_1
  r_pop_hit: sd_sling_3
  
ball_saves:
  ball_save_pop:
    active_time: 2s
    timer_start_events: s_pop_hit
    auto_launch: true
    balls_to_save: 1
    disable_events: mode_hurryup_tilt_started
  
